.venv
venv
env
.git
.gitignore
__pycache__
*.py[codz]
*.egg-info
.mypy_cache
.ruff_cache
.pytest_cache
.idea
.vscode
Dockerfile
docker-compose.yml
.dockerignore
db.sqlite3
db.sqlite3-journal
.DS_Store
Thumbs.db
*.log
.env.local
